## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
my_variable = [1, 25, 45]
print(my_variable)

[1, 25, 45]

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
constante = 8.5
print(constante)

8.5

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
print(type(my_variable))

<class 'list'>

4) Crear una variable que contenga tu nombre

In [5]:
nombre = ['joel']

5) Crear una variable que contenga un número complejo

In [6]:
numero_complejo = (3 + 5j)

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [7]:
print(type(numero_complejo))

<class 'complex'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [8]:
import math
pi = math.pi
print("{:.4f}".format(pi))

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [13]:
es_verdad =True 
puede_ser_verdad = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [14]:
print(es_verdad)
print(puede_ser_verdad)

True
True

10) Asignar a una variable, la suma de un número entero y otro decimal

In [16]:
def variable (numero_entero,numero_decimal):
    return numero_entero + numero_decimal
print(variable(25, 13.8))

38.8

11) Realizar una operación de suma de números complejos

In [19]:
def suma_complex (numero_complejo_uno, numero_complejo_dos):
    return numero_complejo_uno + numero_complejo_dos
print(suma_complex(5j, 77j))

82j

12) Realizar una operación de suma de un número real y otro complejo

In [20]:
def suma_random (numero_complejos, numero_real):
    return numero_complejo + numero_real
print(suma_random (5, 77j))

(3+82j)

13) Realizar una operación de multiplicación

In [21]:
def multiplicacion (numero_uno, numero_dos):
    return numero_uno * numero_dos
print(multiplicacion(5, 66))

330

14) Mostrar el resultado de elevar 2 a la octava potencia

In [22]:
resultado = 2**8
print(resultado)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [23]:
resultado = 27%4
print(resultado)

3

16) De la división anterior solamente mostrar la parte entera

In [27]:
resultado = 27/4
print(resultado)

6.75

17) De la división de 27 entre 4 mostrar solamente el resto

In [26]:
resultado = 27//4
print(resultado)

6

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [32]:
resultado16 = 6*4+3
resultado17 = 6.75 * 4
print(resultado16)
print(resultado17)

27
27.0

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [31]:
var1 = 'Buenos'
var2 = 'aires'
print(var1 + var2)

Buenosaires

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [33]:
"2"==2

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [34]:
int("2") == 2

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [36]:
a = float ('3.8')

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [37]:
valor = 3
valor -=1
print(valor)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [39]:
1 << 2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [42]:
suma1 = int(2) + int("2")
suma2 = float(2) + float("2")
suma3 = str(2) + str ("2")
print(suma1)
print(suma2)
print(suma3)

4
4.0
22

26) Realizar una operación válida entre valores de tipo entero y string

In [48]:
var1 = 'este texto se repite '
var2 = 3
print(var1 * var2 + str(var2) + ' veces')

este texto se repite este texto se repite este texto se repite este texto se repite este texto se repite este texto se repite este texto se repite este texto se repite este texto se repite este texto se repite este texto se repite este texto se repite este texto se repite este texto se repite este texto se repite este texto se repite este texto se repite este texto se repite este texto se repite este texto se repite este texto se repite este texto se repite este texto se repite este texto se repite este texto se repite este texto se repite este texto se repite este texto se repite este texto se repite este texto se repite este texto se repite este texto se repite este texto se repite este texto se repite este texto se repite 35 veces